Source: vyatta-vrrp
Section: contrib/net
Priority: optional
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Build-Depends: debhelper (>= 9), debhelper (>= 9.20160709) | dh-systemd, dh-yang, libtest-class-perl,
               libsort-versions-perl, libnet-dbus-perl, libtry-tiny-perl,
               python3, dh-python, dh-vci
Standards-Version: 3.9.6

Package: vyatta-vrrp
Architecture: all
Depends:
 bmon (>= 3.5),
 dbus,
 iftop,
 iproute2 (>= 4.4.0),
 keepalived (>= 1.2.24-git66c870aa+vyatta26),
 libnet-dbus-perl,
 libtry-tiny-perl,
 python,
 python-daemon,
 python-dbus,
 python-gi,
 python-pydbus,
 vyatta-cfg (>= 0.99.83),
 vyatta-interfaces (>= 0.5),
 vyatta-op-network,
 vyatta-system (>= 1.6.1),
 ${misc:Depends},
 ${perl:Depends},
 ${python3:Depends},
 python3,
 python3-daemon,
 python3-gi,
 python3-dbus,
 python3-pydbus,
 libnet-dbus-perl,
 libtry-tiny-perl
Breaks: vyatta-op (<< 1.0)
Replaces: vyatta-op (<< 1.0)
Description: Vyatta VRRP configuration/operational commands
 Vyatta configuration/operational templates and scripts for VRRP

Package: vyatta-op-show-interfaces-vrrp-v1-yang
Architecture: all
Depends: vyatta-interfaces-base, ${misc:Depends}, ${yang:Depends}
Description: vyatta-op-show-interfaces-vrrp-v1 module
 Operational mode integration for viewing VRRP interface configuration

Package: vyatta-vrrp-dataplane
Architecture: all
Depends:
 keepalived (>= 1.2.24-git66c870aa+vyatta27),
 vplane-config,
 vyatta-cfg,
 ${misc:Depends}
Description: vyatta-vrrp dataplane templates
 Vyatta configuration templates for VRRP use on dataplane devices

Package: vyatta-vrrp-v1-yang
Architecture: all
Depends:
 vyatta-vrrp (>= ${source:Version}),
 vyatta-vrrp-dataplane (>= ${source:Version}),
 vyatta-vrrp-vci (>= ${source:Version}),
 ${misc:Depends},
 ${yang:Depends}
Section: contrib/admin
Description: vyatta-vrrp-v1 yang module
 The YANG module for vyatta-vrrp-v1.

Package: vyatta-vrrp-interfaces-switch-v1-yang
Architecture: all
Depends:
 vyatta-vrrp-v1-yang (>= ${source:Version}),
 ${misc:Depends},
 ${yang:Depends}
Section: contrib/admin
Description: vyatta-vrrp-interfaces-switch-v1 yang module
 The YANG module for vyatta-vrrp-interfaces-switch-v1.

Package: vyatta-vrrp-path-monitor-track-v1-yang
Architecture: all
Depends:
 monitord-feature-dbus,
 vyatta-vrrp-v1-yang (>= ${source:Version}),
 ${misc:Depends},
 ${yang:Depends}
Section: contrib/admin
Description: vyatta-vrrp-path-monitor-track-v1 yang module
 The YANG module that defines the grouping to track path monitor
 combinations.

Package: vyatta-vrrp-path-monitor-track-interfaces-dataplane-v1-yang
Architecture: all
Depends:
 vyatta-vrrp-path-monitor-track-v1-yang,
 ${misc:Depends},
 ${yang:Depends}
Section: contrib/admin
Description: vyatta-vrrp-path-monitor-track-interfaces-dataplane-v1 yang module
 The YANG module that augments dataplane interfaces with path monitor tracking.

Package: vyatta-vrrp-path-monitor-track-interfaces-bonding-v1-yang
Architecture: all
Depends:
 vyatta-vrrp-path-monitor-track-v1-yang,
 ${misc:Depends},
 ${yang:Depends}
Section: contrib/admin
Description: vyatta-vrrp-path-monitor-track-interfaces-bonding-v1 yang module
 The YANG module that augments bonding interfaces with path monitor tracking.

Package: vyatta-vrrp-path-monitor-track-interfaces-switch-v1-yang
Architecture: all
Depends:
 vyatta-vrrp-interfaces-switch-v1-yang,
 vyatta-vrrp-path-monitor-track-v1-yang,
 ${misc:Depends},
 ${yang:Depends}
Section: contrib/admin
Description: vyatta-vrrp-path-monitor-track-interfaces-switch-v1 yang module
 The YANG module that augments switch vif interfaces with path monitor tracking.

Package: vyatta-vrrp-route-to-track-v1-yang
Architecture: all
Depends:
 vyatta-vrrp-v1-yang (>= ${source:Version}),
 ${misc:Depends},
 ${yang:Depends}
Section: contrib/admin
Description: vyatta-vrrp-route-to-track-v1 yang module
 The YANG module that defines the grouping to track routes.

Package: vyatta-vrrp-route-to-track-interfaces-dataplane-v1-yang
Architecture: all
Depends: vyatta-vrrp-route-to-track-v1-yang, ${misc:Depends}, ${yang:Depends}
Section: contrib/admin
Description: vyatta-vrrp-route-to-track-interfaces-dataplane-v1 yang module
 The YANG module that augments dataplane interfaces with route-to tracking.

Package: vyatta-vrrp-route-to-track-interfaces-bonding-v1-yang
Architecture: all
Depends: vyatta-vrrp-route-to-track-v1-yang, ${misc:Depends}, ${yang:Depends}
Section: contrib/admin
Description: vyatta-vrrp-route-to-track-interfaces-bonding-v1 yang module
 The YANG module that augments bonding interfaces with route-to tracking.

Package: vyatta-vrrp-route-to-track-interfaces-switch-v1-yang
Architecture: all
Depends:
 vyatta-vrrp-interfaces-switch-v1-yang,
 vyatta-vrrp-route-to-track-v1-yang,
 ${misc:Depends},
 ${yang:Depends}
Section: contrib/admin
Description: vyatta-vrrp-route-to-track-interfaces-switch-v1 yang module
 The YANG module that augments switch vif interfaces with route-to tracking.

Package: vyatta-vrrp-state-v1-yang
Architecture: all
Depends:
 vyatta-vrrp-v1-yang (>= ${source:Version}),
 ${misc:Depends},
 ${yang:Depends}
Section: contrib/admin
Description: vyatta-vrrp-state-v1 yang module
 The YANG module that defines the state nodes for a VRRP instance.

Package: vyatta-vrrp-state-interfaces-dataplane-v1-yang
Architecture: all
Depends: vyatta-vrrp-state-v1-yang, ${misc:Depends}, ${yang:Depends}
Section: contrib/admin
Description: vyatta-vrrp-state-interfaces-dataplane-v1 yang module
 The YANG module that augments dataplane interfaces with state nodes.

Package: vyatta-vrrp-state-interfaces-bonding-v1-yang
Architecture: all
Depends: vyatta-vrrp-state-v1-yang, ${misc:Depends}, ${yang:Depends}
Section: contrib/admin
Description: vyatta-vrrp-state-interfaces-bonding-v1 yang module
 The YANG module that augments bonding interfaces with state nodes.

Package: vyatta-vrrp-state-interfaces-switch-v1-yang
Architecture: all
Depends: vyatta-vrrp-state-v1-yang, ${misc:Depends}, ${yang:Depends}
Section: contrib/admin
Description: vyatta-vrrp-state-interfaces-switch-v1 yang module
 The YANG module that augments switch vif interfaces with state nodes.

Package: vyatta-vrrp-vci
Architecture: any
Priority: extra
Depends: python3, python3-vci, ${python3:Depends}, ${misc:Depends}, ${shlibs:depends}
Built-Using: ${misc:Built-Using}
Description: Vci Service for vyatta-vrrp config
 Service for vyatta vrrp using the Vyatta Component Infrastructure
